p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #515151;
}

h1 {
    text-align: center;
    font-size: 22px;
}

.container {
    display: flex;
}

.site-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 8px;
    background-color: #cefff0;
}

.header-links {
    margin: 8px;
}

.links {
    list-style: none;
    display: inline-flex;
    margin: 4px;
    padding: 4px;
}

.links li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}

.dot-button {
    height: 25px;
    width: 25px;
    background-color: #efb327;
    border-radius: 50%;
    margin: 3px;
    display: inline-flex;
    flex-shrink: 0;
}

.container div {
    background: rgb(235, 213, 235);
    border: 4px solid #cefff0;
    padding: 10px;
    justify-content: space-between;
}