body {
    font-family: 'Ubuntu Mono', monospace;
}

header.site-header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.site-header li {
    list-style: none;
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 16px;
    display: inline-flex;
}

.site-header h3 {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8
}

header a:visited {text-decoration: none; color:#F9FAF8}
header a:link {text-decoration: none; color: #F9FAF8;}
header a:hover {text-decoration: dashed; color:#d0fce9; text-decoration-color: #d0fce9;}
header a:active {text-decoration: dashed; color:#d0fce9; text-decoration-color: #d0fce9;}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1F2937;
    flex-wrap: wrap;
    padding-top: 56px;
}

.hero-left {
    display: flex;
    flex-flow: column wrap;
}

.hero .main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 5px;
}

.hero .body-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px;
    padding: 5px;
}

.home {
    background-color: #E5E7EB;
    background-position: center;
    background-size: cover;
    background-image: url("../images/Illhorens home.jpg");
    width: 400px;
    height: 180px;
    border-radius: 12px;
}

.sign-up {
    border-radius: 8px;
    background: #3882F6;
    color: white;
    width: fit-content;
    border: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}